main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inputcontainer {
  display: flex;
}
label {
  text-align: center;
}
input,
textarea {
  width: 100%;
  margin: 10px 0 20px;
}

/* button {
 
} */

.dashboard-wrapper button {
  width: 100%;
}
.subheading {
  margin: 25px 5%;
  width: 90%;
  border-radius: 5px;
  background-color: #f6f6f6;
  padding: 10px 20px;
}

.tags {
  padding: 6px 10px;
  border-radius: 19px;
  background-color: #f6f6f6;
}
.tag-wrapper {
  margin: 0px 4px 10px 0;
}
#tag-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.accordion {
  background-color: #f6f6f6;
  padding: 20px;
  margin-bottom: 20px;
}
.accordion_heading,
.accordion_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.application-input {
  height: 30px;
  margin-right: 20px;
  width: 100%;
  border: 1px solid #ddd;
  color: #444;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  padding-left: 10px;
  line-height: 1.4;
}
.application-skill {
  display: none;
  margin: 0;
}
.edit-panel {
  padding: 3rem 4rem;
  width: 100%;
  border-radius: 1rem;
  background: #fbfbfb;
  border: 1px solid #e0e0e0;
  margin: 40px 0;
  display: none;
}

.application-button-container {
  border-radius: 5rem;
  width: 100%;
  background: none;
  color: #365679;
  border: 2px solid #365679;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.4rem 10px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 600;
}
.panel-button {
  padding: 6px 20px;
  color: #365679;
  border: 2px solid #365679;
  background-color: white;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 5px;
  font-size: 14px;
  line-height: 1.42857143;
  min-width: 60px;
  transition: all 0.2s ease;
  border-radius: 0.3rem;
  font-weight: 600;
}
@media screen and (max-width: 900px) {
  .application-button-container {
    border-radius: 5rem;
    width: 50%;
    background: none;
    color: #365679;
    border: 2px solid #365679;
    padding: 0.6rem 2rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.4rem 10px;
    font-size: 14px;
    line-height: 1.42857143;
    font-weight: 600;
  }
  .edit-panel {
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    background: #fbfbfb;
    border: 1px solid #e0e0e0;
    margin: 30px 0;
    display: none;
  }
}
